@import url(./fonts.css);
@import "tailwindcss";

@theme {
    --font-instrument-serif: "Instrument Serif", serif;
    --font-geist-mono: "Geist Mono", monospace;
    --color-muted: #6F6F6F;
    --color-main: #0063FF;
}

body:has(main[data-page="home"]) nav a[data-nav="home"],
body:has(main[data-page="join"]) nav a[data-nav="join"],
body:has(main[data-page="contact"]) nav a[data-nav="contact"],
body:has(main[data-page="about"]) nav a[data-nav="about"] {
    &::before {
        content: "[";
    }

    &::after {
        content: "]";
    }
}