@import url(./fonts.css);
@import "tailwindcss";

@theme {
    --font-instrument-serif: "Instrument Serif", serif;
    --font-geist-mono: "Geist Mono", monospace;
    --color-muted: #6F6F6F;
    --color-main: #0063FF;
}

body:has(main[data-page="home"]) nav a[href="/"],
body:has(main[data-page="join"]) nav a[href="/join.html"],
body:has(main[data-page="contact"]) nav a[href="/contact.html"],
body:has(main[data-page="about"]) nav a[href="/about.html"] {
    &::before {
        content: "[";
    }

    &::after {
        content: "]";
    }
}